/*
	.fitgrd - responsive grid system
	open http://www.fitgrd.com for more information
	download at https://github.com/jayalai/fitgrd
	Licensed under GPL and MIT.
*/
/* line 9, fitgrid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  vertical-align: top; }

/* line 17, fitgrid.scss */
.center {
  max-width: 80em;
  margin: 0 auto; }

/* line 22, fitgrid.scss */
.row {
  margin: 0;
  padding: 2% 1em 0;
  overflow: hidden;
  height: 1%;
  *zoom: 1;
  min-height: 1%; }

/* line 31, fitgrid.scss */
.clearfix {
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* ======================================= 
   columns w/ margin
   ======================================= */
/* line 44, fitgrid.scss */
.fg1, .fg2, .fg3, .fg4, .fg5, .fg6, .fg7, .fg8, .fg9, .fg10, .fg11, .fg12 {
  margin: 0 2%;
  padding: 0;
  float: left;
  position: relative; }

/* line 51, fitgrid.scss */
.fg12 {
  width: 96%; }

/* line 55, fitgrid.scss */
.fg11 {
  width: 87.66%; }

/* line 59, fitgrid.scss */
.fg10 {
  width: 79.33%; }

/* line 63, fitgrid.scss */
.fg9 {
  width: 71%; }

/* line 67, fitgrid.scss */
.fg8 {
  width: 62.66%; }

/* line 71, fitgrid.scss */
.fg7 {
  width: 54.33%; }

/* line 75, fitgrid.scss */
.fg6 {
  width: 46%; }

/* line 79, fitgrid.scss */
.fg5 {
  width: 37.66%; }

/* line 83, fitgrid.scss */
.fg4 {
  width: 29.33%; }

/* line 87, fitgrid.scss */
.fg3 {
  width: 21%; }

/* line 91, fitgrid.scss */
.fg2 {
  width: 12.66%; }

/* line 95, fitgrid.scss */
.fg1 {
  width: 4.33%; }

/* ======================================= 
   push w/ columns
   ======================================= */
/* line 103, fitgrid.scss */
.push12 {
  margin-left: 100%; }

/* line 107, fitgrid.scss */
.push11 {
  margin-left: 93.66%; }

/* line 111, fitgrid.scss */
.push10 {
  margin-left: 85.33%; }

/* line 115, fitgrid.scss */
.push9 {
  margin-left: 77%; }

/* line 119, fitgrid.scss */
.push8 {
  margin-left: 68.66%; }

/* line 123, fitgrid.scss */
.push7 {
  margin-left: 60.33%; }

/* line 127, fitgrid.scss */
.push6 {
  margin-left: 52%; }

/* line 131, fitgrid.scss */
.push5 {
  margin-left: 43.66%; }

/* line 135, fitgrid.scss */
.push4 {
  margin-left: 35.33%; }

/* line 139, fitgrid.scss */
.push3 {
  margin-left: 27%; }

/* line 143, fitgrid.scss */
.push2 {
  margin-left: 18.66%; }

/* line 147, fitgrid.scss */
.push1 {
  margin-left: 10.33%; }

/* ======================================= 
   columns w/o margin
   ======================================= */
/* line 155, fitgrid.scss */
.fg-no-gutter {
  padding: 0 2.5em;
  margin-top: 0;
  margin-bottom: 0; }

/* line 161, fitgrid.scss */
.fg-no-gutter > [class*="fg"] {
  margin: 0;
  padding: 0;
  float: left;
  position: relative; }

/* line 168, fitgrid.scss */
.fg-no-gutter .fg12 {
  width: 100%; }

/* line 172, fitgrid.scss */
.fg-no-gutter .fg11 {
  width: 91.66%; }

/* line 176, fitgrid.scss */
.fg-no-gutter .fg10 {
  width: 83.33%; }

/* line 180, fitgrid.scss */
.fg-no-gutter .fg9 {
  width: 75%; }

/* line 184, fitgrid.scss */
.fg-no-gutter .fg8 {
  width: 66.66%; }

/* line 188, fitgrid.scss */
.fg-no-gutter .fg7 {
  width: 58.33%; }

/* line 192, fitgrid.scss */
.fg-no-gutter .fg6 {
  width: 50%; }

/* line 196, fitgrid.scss */
.fg-no-gutter .fg5 {
  width: 41.66%; }

/* line 200, fitgrid.scss */
.fg-no-gutter .fg4 {
  width: 33.33%; }

/* line 204, fitgrid.scss */
.fg-no-gutter .fg3 {
  width: 25%; }

/* line 208, fitgrid.scss */
.fg-no-gutter .fg2 {
  width: 16.66%; }

/* line 212, fitgrid.scss */
.fg-no-gutter .fg1 {
  width: 8.33%; }

/* ======================================= 
   push columns w/o margin
   ======================================= */
/* line 220, fitgrid.scss */
.fg-no-gutter .push12 {
  margin-left: 100%; }

/* line 224, fitgrid.scss */
.fg-no-gutter .push11 {
  margin-left: 91.66%; }

/* line 228, fitgrid.scss */
.fg-no-gutter .push10 {
  margin-left: 83.33%; }

/* line 232, fitgrid.scss */
.fg-no-gutter .push9 {
  margin-left: 75%; }

/* line 236, fitgrid.scss */
.fg-no-gutter .push8 {
  margin-left: 66.66%; }

/* line 240, fitgrid.scss */
.fg-no-gutter .push7 {
  margin-left: 58.33%; }

/* line 244, fitgrid.scss */
.fg-no-gutter .push6 {
  margin-left: 50%; }

/* line 248, fitgrid.scss */
.fg12 .push5 {
  margin-left: 41.66%; }

/* line 252, fitgrid.scss */
.fg-no-gutter .push4 {
  margin-left: 33.33%; }

/* line 256, fitgrid.scss */
.fg-no-gutter .push3 {
  margin-left: 25%; }

/* line 260, fitgrid.scss */
.fg-no-gutter .push2 {
  margin-left: 16.66%; }

/* line 264, fitgrid.scss */
.fg-no-gutter .push1 {
  margin-left: 8.33%; }

/* line 268, fitgrid.scss */
.fg-no-mobile {
  display: block; }

/* line 272, fitgrid.scss */
.fg-no-desktop {
  display: none; }

/* ======================================= 
   media queries
   ======================================= */
/* smartphone size */
@media screen and (max-width: 30em) {
  /* line 283, fitgrid.scss */
  .row {
    padding: 0 1em;
    margin: 0; }

  /* line 288, fitgrid.scss */
  .fg1, .fg2 {
    width: 46%;
    margin-bottom: 1em; }

  /* line 294, fitgrid.scss */
  .fg3, .fg4, .fg5, .fg6, .fg7, .fg8, .fg9, .fg10, .fg11, .fg12 {
    margin: 0 2% 1em;
    padding: 0;
    width: 96%; }

  /* line 300, fitgrid.scss */
  .fg-no-gutter > [class*="fg"] {
    width: 50%; }

  /* line 304, fitgrid.scss */
  .fg-no-mobile {
    display: none; }

  /* line 308, fitgrid.scss */
  .fg-no-desktop {
    display: block; } }
/* phone landscape */
/* ipad portrait */
/* ipad landscape */
